@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';

// custom scrollbar
::-webkit-scrollbar {
    width: var(--scroll-bar-width);
    height: var(--scroll-bar-height);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--c-gray-300));
}

::-webkit-scrollbar-track {
    background-color: rgb(var(--c-gray-100));
}

body {
    font-family: var(--font-family-system), sans-serif;
    @include font(14);
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

// Use mixins
@import './mixins.scss';

// Styles for text
.heading-1 {
    @include font(20, 700);
}

// Styles for cursor
.not-allowed-cursor {
    cursor: not-allowed !important;
}

/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
