@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';

::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: var(--font-family-system), sans-serif;
    @include font(14);
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

/* Use mixins */
@import './mixins.scss';

/* Styles for text */
.heading-1 {
    @include font(20, 700);
}

/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
