/* responsive mixins */
@mixin lg {
    /* desktops (min-width : 1024px) ----------- */
    @media only screen and (min-width: 64em) {
        @content;
    }
}

@mixin md {
    /* tablets (min-width : 740px and max-width : 1023px) ----------- */
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        @content;
    }
}

@mixin sm {
    /* smartphones (max-width : 739px) ----------- */
    @media only screen and (max-width: 46.1875em) {
        @content;
    }
}

/* font mixins */
@mixin font($size: 14, $weight: 400) {
    font-size: var(--font-size-#{$size});
    line-height: var(--line-height-#{$size});
    font-weight: $weight;
}

/* Setting the width and height of an element. */
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

/* Aligning center an element. */
@mixin centerAbsolute($pos: 'both') {
    position: absolute;
    @if $pos == 'both' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if $pos == 'left' {
        left: 50%;
        transform: translateX(-50%);
    } @else if $pos == 'top' {
        top: 50%;
        transform: translateY(-50%);
    }
}
